.intern {
    background: $cp1;
    background: linear-gradient(180deg, rgba($cp1,1) 25%, rgba($cw,1) 100%);
    padding: 40px 0;
    &__container {
        @include md {
            align-items: center;
            display: flex;
            gap: 0 36px;
            justify-content: space-between;
        }
    }

    &__img {
        display: flex;
        margin: 0 auto;
        max-width: 231px;

        @include md {
            min-width: 330px;
        }
    }

    &__info {

        &__title {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            @include md {
                font-size: 36px;
                text-align: left;
            }
        }
        &__description {
            padding-bottom: 40px;

            @include md {
                font-size: 22px;
                line-height: 26.4px;
            }
        }
        
        &__btn {
            display: flex;
            justify-content: flex-end;
        }
    }
}