.filter {
    display: flex;
    font-weight: 800;
    overflow-x: scroll;
    white-space: nowrap;
    height: 40px;
    margin-top: 55px;

    @include md {
        padding-left: 50px;
    }

    &__item {
        cursor: pointer;
        color: $cb;
        text-decoration: none;
        margin-right: 25px;
    }

    &--active {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            bottom: 16px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $cb;
        }
    }
}