.btn {
    background: none;
    width: 100%;
    max-width: 200px;
    padding: 10px 5px;
    border: none;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    transition: $transition;

    &:hover {
        opacity: .8;
    }

    &--primary {
        background: $cp1;
    }
    &--secondary {
        background: transparent;
        border: 1px solid $cw;
        color: $cw;
    }
    &--tertiary {
        background: $cp2;
        color: $cw;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 20px;
            margin-right: 6px;
        }
    }
}